data processing and analysis
{
    "name": "Get Calender",
    "nodes": [
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "taniyapareek333@gmail.com",
                    "mode": "list",
                    "cachedResultName": "taniyapareek333@gmail.com"
                },
                "limit": 10,
                "options": {
                    "timeMin": "={{ $json.message.content['Requested day'] }}",
                    "timeMax": "={{ $json.message.content['Next day'] }}"
                }
            },
            "id": "5f1b3745-3bc3-41b4-b3d1-4452a12b766d",
            "name": "Google Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.100000000000000088817841970012523233890533447265625,
            "position": [
                240,
                208
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "4a285a6b-7b2c-4fe5-8380-a6e6f01e82d2",
                            "name": "Event",
                            "value": "={{ $json.summary }}",
                            "type": "string"
                        },
                        {
                            "id": "a2c6c7c1-0658-46b7-a76f-c78d110994cb",
                            "name": "Start Time",
                            "value": "={{ $json.start.dateTime }}",
                            "type": "string"
                        },
                        {
                            "id": "32ce9e73-6b05-4459-ab67-e08ad5dae839",
                            "name": "End Time",
                            "value": "={{ $json.end.dateTime }}",
                            "type": "string"
                        }
                    ]
                },
                "options": []
            },
            "id": "b505045c-dd20-4988-913d-94660c1a27bd",
            "name": "Edit Fields",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.399999999999999911182158029987476766109466552734375,
            "position": [
                464,
                208
            ]
        },
        {
            "parameters": {
                "fieldsToAggregate": {
                    "fieldToAggregate": [
                        {
                            "fieldToAggregate": "message.content"
                        }
                    ]
                },
                "options": []
            },
            "id": "b1f4eb80-9439-47d6-bbe4-3fed04407e5f",
            "name": "Aggregate",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                160,
                480
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b075b44e-485a-4843-9f2a-2b629ca9bfeb",
                            "name": "response",
                            "value": "={{ $json.content }}",
                            "type": "string"
                        }
                    ]
                },
                "options": []
            },
            "id": "cf91f06b-3e70-4f47-9a03-35a3654ea4dd",
            "name": "Edit Fields1",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.399999999999999911182158029987476766109466552734375,
            "position": [
                384,
                480
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o",
                    "mode": "list",
                    "cachedResultName": "GPT-4O"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=You are a calendar assistant and I need you to summarize my day by looking at the events in my calendar. here is an event's details:\n\nEvent name: {{ $json.Event }}\nStart time:{{ $json['Start Time'] }}\nEnd time:{{ $json['End Time'] }}",
                            "role": "system"
                        }
                    ]
                },
                "options": []
            },
            "id": "5a10576b-2485-469c-a0f9-0c0e1afaa364",
            "name": "Summarize Calendar",
            "type": "@n8n\/n8n-nodes-langchain.openAi",
            "typeVersion": 1.5,
            "position": [
                -192,
                480
            ]
        },
        {
            "parameters": [],
            "id": "59b2aff7-dc20-4a3a-86b3-d17d0e3d6510",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                -336,
                208
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o",
                    "mode": "list",
                    "cachedResultName": "GPT-4O"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=Your job is to identify what date the user is asking for based on the JSON.query: {{ $json.query }} and today's date: {{$now}}\nYou should return this date in a field called \"Requested day\" and only include the date, we don't care about time.\n\nExample:If the query asks for today, you would return today's date.\nExample: If the query asks for yesterday, you would return the day before today.\nExample: If the query asks for tomorrow, you would return the day after today.\n\nAfter this, please output a field called \"Next day\" which should be the day after the date you have already returned.",
                            "role": "system"
                        },
                        {
                            "content": "="
                        }
                    ]
                },
                "jsonOutput": true,
                "options": []
            },
            "id": "1ed59bce-4925-409d-9ada-9635c858d12e",
            "name": "Find Current Date",
            "type": "@n8n\/n8n-nodes-langchain.openAi",
            "typeVersion": 1.5,
            "position": [
                -112,
                208
            ]
        }
    ],
    "pinData": [],
    "connections": {
        "Google Calendar": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "Summarize Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate": {
            "main": [
                [
                    {
                        "node": "Edit Fields1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Summarize Calendar": {
            "main": [
                [
                    {
                        "node": "Aggregate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Find Current Date",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Current Date": {
            "main": [
                [
                    {
                        "node": "Google Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "a6fc56af-69a3-4c24-a0b0-11b3986a2381",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "0b008bd86df5902c8c20987844e8ef7a6cf9a5639f4abd7f8a22764455c02c65"
    },
    "id": "OiwD2VnDQFJhnRAH",
    "tags": []
}
